<nav class="pagination is-centered">
    {% set firstPage = 1 %}
    {% set page = pagination.page %}
    {% set limit = pagination.limit %}
    {% set lastPage = (count / limit)|round(0, 'ceil') %}
    {% set nextPage = page + 1 %}
    {% set previousPage = page - 1 %}

    {% set firstLoop = page - 1 %}
    {% set lastLoop = page + 1 %}

    {% if lastPage < firstPage %}
        {% set lastPage = firstPage %}
    {% endif %}

    {% if lastLoop > lastPage %}
        {% set firstLoop = lastPage - 2 %}
        {% set lastLoop = lastPage %}
    {% endif %}

    {% if firstLoop < firstPage %}
        {% set firstLoop = firstPage %}
        {% set lastLoop = firstPage + 2 %}
    {% endif %}

    {% if lastLoop > lastPage %}
        {% set lastLoop = lastPage %}
    {% endif %}

    {% if firstLoop < firstPage %}
        {% set firstLoop = firstPage %}
    {% endif %}

    <a class="pagination-previous" href="{{ path("paginate", {'route': route, 'field': 'page', 'value': previousPage > 1 ? previousPage : 1}) }}">
        <span class="icon is-small">
            <i class="fas fa-chevron-left"></i>
        </span>
    </a>
    <a class="pagination-next" href="{{ path("paginate", {'route': route, 'field': 'page', 'value': nextPage > lastPage ? lastPage : nextPage}) }}">
        <span class="icon is-small">
            <i class="fas fa-chevron-right"></i>
        </span>
    </a>

    <ul class="pagination-list">
        <li><a class="pagination-link {{ firstPage == page ? "is-current" : "" }}"
                href="{{ path("paginate", {'route': route, 'field': 'page', 'value': firstPage}) }}"
            >{{ firstPage }}</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% for i in range(firstLoop, lastLoop) %}
            <li><a class="pagination-link {{ i == page ? "is-current" : "" }}"
                    href="{{ path("paginate", {'route': route, 'field': 'page', 'value': i}) }}"
                >{{ i }}</a></li>
        {% endfor %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link {{ lastPage == page ? "is-current" : "" }}"
                href="{{ path("paginate", {'route': route, 'field': 'page', 'value': lastPage}) }}"
            >{{ lastPage }}</a></li>
    </ul>
</nav>