{% extends 'hero.html.twig' %}

{% block title %}{% if item.id %} {{ "admin.edit"|trans({}, name) }} {% else %} {{ "admin.create"|trans({}, name) }} {% endif %}{% endblock %}

{% block body %}
    <div class="column is-6 is-offset-3 has-text-centered">
        <h2 class="title">{% if item.id %} {{ "admin.edit"|trans({}, name) }} {% else %} {{ "admin.create"|trans({}, name) }} {% endif %}</h2>

        <div class="box">
            {% include "#{name}/_form.html.twig" %}
        </div>

        <p>
            <a href="{{ path("#{route}index") }}">
                {{ "admin.back"|trans({}, name) }}
            </a>
        </p>
    </div>
{% endblock %}
