{% extends "#{domain}.html.twig" %}

{% block title %}{% if item.id %} {{ "admin.edit"|trans({}, domain) }} {% else %} {{ "admin.create"|trans({}, domain) }} {% endif %}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path("#{domain}_index") }}">{{ "admin.hero"|trans({}, domain) }}</a></li>
    {% if item.id %} 
        <li><a class="is-active">{{ "admin.edit"|trans({}, domain) }}</a></li>
    {% else %}
        <li><a class="is-active">{{ "admin.create"|trans({}, domain) }}</a></li>
    {% endif %}
{% endblock %}

{% block body %}

    {% include "#{domain}/_form.html.twig" %}

{% endblock %}
