{% extends "#{domain}.html.twig" %}

{% block name %}{{ "admin.hero"|trans({}, domain) }}{% endblock %}

{% block breadcrumb %}
    <li><a class="is-active">{{ "admin.hero"|trans({}, domain) }}</a></li>
{% endblock %}

{% block body %}
    <div class="has-text-right has-margin-bottom-10">
        <div class="dropdown is-right is-hoverable">
            <div class="dropdown-trigger">
                <a class="button">
                    <span class="icon is-small">
                        <i class="fas fa-columns"></i>
                    </span>
                </a>
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-content has-text-left">
                    {% for column in columns %}
                        {% if column in dColumns %}
                            <a class="dropdown-item" href="{{ path("column", { 'route': app.request.get('_route'), 'field': column.name, 'value' : 0 }) }}">
                                <span class="icon">
                                    <i class="far fa-check-square"></i>
                                </span>
                                <span>{{ "column.#{column.name}"|trans({}, domain) }}</span>
                            </a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path("column", { 'route': app.request.get('_route'), 'field': column.name, 'value' : 1 }) }}">
                                <span class="icon">
                                    <i class="far fa-square"></i>
                                </span>
                                <span>{{ "column.#{column.name}"|trans({}, domain) }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% set searchKeys = searchData|filter(v => v is not empty)|map((v, k) => k) %}
        {% set requiredOperator = ['isNull', 'isNotNull'] %}
        {% set searchOperatorKeys = searchOperatorData|filter((v, k) => v in requiredOperator)|map((v, k) => k) %}
        {% if searchKeys|length or searchOperatorKeys|length %}
            <a class="button is-primary is-outlined">
                <span class="icon is-small">
                    <i class="fas fa-filter"></i>
                </span>
            </a>
        {% else %}
            <a class="button">
                <span class="icon is-small">
                    <i class="fas fa-filter"></i>
                </span>
            </a>
        {% endif %}
        {% block head_btn %}
        {% endblock %}
    </div>



    <div class="table-wrapper has-margin-bottom-10">
        <table class="table is-striped">
            <thead>
                <tr>
                    {% for column in dColumns %}
                        <th>
                            {% set sortName = column.attributes|join('_') %}

                            {% if sortData[sortName] is not defined %}
                                <a class="has-text-dark" href="{{ path("sort_field", { 'route': app.request.get('_route'), 'field': sortName, 'order' : 'asc' }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% elseif sortData[sortName] == 'asc' %}
                                <a class="has-text-dark" href="{{ path("sort_field", { 'route': app.request.get('_route'), 'field': sortName, 'order' : 'desc' }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort-alpha-up"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% elseif sortData[sortName] == 'desc' %}
                                <a class="has-text-dark" href="{{ path("sort_reset_field", { 'route': app.request.get('_route'), 'field': sortName }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort-alpha-down-alt"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% else %}
                                <a class="has-text-dark" href="{{ path("sort_field", { 'route': app.request.get('_route'), 'field': sortName, 'order' : 'asc' }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% endif %}
                        </th>
                    {% endfor %}
                    <th>
                        <div class="buttons has-addons is-right">
                            <a class="button" href="{{ path("sort_reset", { 'route': app.request.get('_route') }) }}">
                                <span class="icon">
                                    <i class="fas fa-eraser"></i>
                                </span>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    {% for column in dColumns %}
                        <th>
                            {% set sortName = column.attributes|join('_') %}

                            {% if sortData[sortName] is not defined %}
                                <a class="has-text-dark" href="{{ path("sort_field", { 'route': app.request.get('_route'), 'field': sortName, 'order' : 'asc' }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% elseif sortData[sortName] == 'asc' %}
                                <a class="has-text-dark" href="{{ path("sort_field", { 'route': app.request.get('_route'), 'field': sortName, 'order' : 'desc' }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort-alpha-up"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% elseif sortData[sortName] == 'desc' %}
                                <a class="has-text-dark" href="{{ path("sort_reset_field", { 'route': app.request.get('_route'), 'field': sortName }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort-alpha-down-alt"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% else %}
                                <a class="has-text-dark" href="{{ path("sort_field", { 'route': app.request.get('_route'), 'field': sortName, 'order' : 'asc' }) }}">
                                    <span class="icon">
                                        <i class="fas fa-sort"></i>
                                    </span>
                                    {{ "column.#{column.name}"|trans({}, domain) }}
                                </a>
                            {% endif %}
                        </th>
                    {% endfor %}
                    <th class="has-text-right">
                        {% set countItem = items|length %}
                        {% set startItem = ((paginationData.page - 1) * paginationData.limit) + 1 %}
                        {% set endItem = (paginationData.page * paginationData.limit) %}

                        {% if startItem > countItem %}
                            {% set startItem = 0 %}
                            {% set endItem = 0 %}
                        {% elseif endItem > countItem %}
                            {% set endItem = countItem %}
                        {% endif %}
                        
                        {{ startItem }} - {{ endItem }} / {{ countItem }}
                    </th>
                </tr>
            </tfoot>
            <tbody>
                {% if items|length > 0 %}
                    {% for item in items %}
                        <tr>
                            {% for column in dColumns %}
                                <td>
                                    {% include "#{domain}/_value.html.twig" with { 'value': item, 'column': column } %}
                                </td>
                            {% endfor %}
                            <td>
                                <div class="buttons has-addons is-right">
                                    {% block item_btn %}
                                    {% endblock %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="{{ dColumns|length + 1 }}" class="has-text-centered has-text-primary">
                            {{ "admin.noresult"|trans({}, domain) }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="columns">
        <div class="column is-12-mobile is-9-tablet is-10-desktop">
            {% include "#{domain}/_pagination.html.twig" with { 'pagination': paginationData, 'count': items|length, 'route': app.request.get('_route') } only %}
        </div>
        <div class="column is-12-mobile is-3-tablet is-2-desktop">
            <div class="select is-fullwidth">
                <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    {% for i in range(5, 50, 5) %}
                        <option value="{{ path("paginate", {'route': app.request.get('_route'), 'field': 'limit', 'value': i}) }}" {{ i == paginationData.limit ? 'selected' : null }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}
