{% extends 'hero.html.twig' %}

{% block title %}{{ 'admin.hero'|trans({}, name) }}{% endblock %}
{% block subtitle %}{{ 'admin.hero'|trans({}, name) }}{% endblock %}
{% block herotitle %}{{ 'admin.group'|trans({}, name) }}{% endblock %}
{% block herosubtitle %}{{ 'admin.group'|trans({}, name) }} {{ app.request.query.get('id') }}{% endblock %}

{% block body %}
    <div class="column is-6 is-offset-3 has-text-centered">
        <div class="box">
            {% include "SymfonyCrudBundle:abstract:_form.html.twig" %}
        </div>

        <p>
            <a href="{{ path("admin_translation_index") }}">
                {{ 'admin.back'|trans({}, name) }}
            </a>
        </p>
    </div>
{% endblock %}