{% extends 'hero.html.twig' %}

{% block title %}{{ "admin.hero"|trans({}, name) }}{% endblock %}
{% block herotitle %}{{ "admin.hero"|trans({}, name) }}{% endblock %}

{% block body %}
    <table class="table" width="100%">
        <thead>
            <tr>
                <th>{{ "admin.group"|trans({}, name) }}</th>
                <th class="has-text-right">
                    <a class="button" href="{{ path("admin_translation_new") }}">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{ "admin.group"|trans({}, name) }}</th>
                <th class="has-text-right">
                    <a class="button" href="{{ path("admin_translation_new") }}">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </th>
            </tr>
        </tfoot>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        {{ group|trans }}
                    </td>
                    <td class="has-text-right">
                        <a class="button" href="{{ path("admin_translation_edit", {'id': group }) }}">
                            <span class="icon is-small">
                              <i class="far fa-edit"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}